
<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/aboutus.css' />
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  </head>
  <body ng-app ng-controller="Ctrl_1">
  	

  	<section id="Aboutus" >
     <div id="Content-box2">

  	 	 <h1>關於我們</h1>
  	 	 <p >我們是T Combinator我們是T Combinator</p>

     </div>
  		<div id="container" >
			
			<script type="text/javascript">
				function Ctrl_1($scope) {
					//controller
				$scope.ShowCont1 = false;
				$scope.ShowCont2 = false;
				$scope.ShowCont3 = false;
				$scope.ShowCont4 = false;
				$scope.ShowCont5 = false;
				$scope.ShowCont6 = false;
				$scope.ShowCont7 = false;
				$scope.ShowCont8 = false;
			}
			</script>
		
  			<!--Man1-->
    		<div id="cont" ng-show="ShowCont1">
    		  <img src="images/markven.png" width="300" height="300" id="photo">
    		  <div id="contT">
    		    <h2>Mark Ven</h2><h3>CEO</h3>
    		    <span id="lineC"></span>
    		    <p id="contP">興趣: 把妹
    		    <br><br>座右銘: 創業就像把妹
    		    <br><br>走過:
    		    </p> 
    		  </div>           
    		</div>

			<!--Man2-->
			  <div id="cont" ng-show="ShowCont2">
			    <img src="images/fiscolwu.png" width="300" height="300" id="photo">
			    <div id="contT">
			      <h2>Fiscol Wu</h2><h3>Co-Founder & Senior Engineer</h3>
			      <span id="lineC"></span>
			      <pre id="contP">個性： 			牡羊座又A型，矛盾的性格、是後天努力培養理工頭腦的右腦型人，
			           在不熟的女生面前會害羞，熟了之後很好聊，團隊中僅次於大Q沒有
			           霸氣又悶騷的男子。
			
			興趣： 看書、重訓、跑步、打籃球、聽音樂、旅行、睡覺，
			           最近的興趣是搭高鐵來回台中。
			      
			      </pre> 
			    </div>           
			  </div>
 			<!--Man3-->
 			 <div id="cont" ng-show="ShowCont3">
 			   <img src="images/cheng.png" width="300" height="300" id="photo">
 			   <div id="contT">
 			     <h2>相伃</h2><h3>HAHAHA</h3>
 			     <span id="lineC"></span>
 			     <p id="contP">興趣: 把妹
 			     <br><br>座右銘: 創業就像把妹
 			     <br><br>走過:
 			     </p> 
 			   </div>           
 			 </div>
 			<!--Man4-->
 			 <div id="cont" ng-show="ShowCont4">
 			   <img src="images/lin.png" width="300" height="300" id="photo">
 			   <div id="contT">
 			     <h2>呱呱</h2><h3>CEO</h3>
 			     <span id="lineC"></span>
 			     <p id="contP">興趣: 把妹
 			     <br><br>座右銘: 創業就像把妹
 			     <br><br>走過:
 			     </p> 
 			   </div>           
 			 </div>
 			<!--Man5-->
 			 <div id="cont" ng-show="ShowCont5">
 			   <img src="images/wawa.png" width="300" height="300" id="photo">
 			   <div id="contT">
 			     <h2>楊蛙蛙</h2><h3>CEO</h3>
 			     <span id="lineC"></span>
 			     <p id="contP">興趣: 把妹
 			     <br><br>座右銘: 創業就像把妹
 			     <br><br>走過:
 			     </p> 
 			   </div>           
 			 </div>
 			<!--Man6-->
 			 <div id="cont" ng-show="ShowCont6">
 			   <img src="images/yakosu.png" width="300" height="300" id="photo">
 			   <div id="contT">
 			     <h2>Yako su</h2><h3>CEO</h3>
 			     <span id="lineC"></span>
 			     <p id="contP">興趣: 把妹
 			     <br><br>座右銘: 創業就像把妹
 			     <br><br>走過:
 			     </p> 
 			   </div>           
 			 </div>
			
 			 <!--Man7-->
 			 <div id="cont" ng-show="ShowCont7">
 			   <img src="images/tony.png" width="300" height="300" id="photo">
 			   <div id="contT">
 			     <h2>暴力正昌</h2><h3>CEO</h3>
 			     <span id="lineC"></span>
 			     <p id="contP">興趣: 把妹
 			     <br><br>座右銘: 創業就像把妹
 			     <br><br>走過:
 			     </p> 
 			   </div>           
 			 </div>
			
			<!--Man8-->
 			 <div id="cont" ng-show="ShowCont8">
 			   <img src="images/bigq.png" width="300" height="300" id="photo">
 			   <div id="contT">
 			     <h2>BigQ</h2><h3>CEO</h3>
 			     <span id="lineC"></span>
 			     <p id="contP">興趣: 把妹
 			     <br><br>座右銘: 創業就像把妹
 			     <br><br>走過:
 			     </p> 
 			   </div>           
 			 </div> 






  <div id="fake-box"><!--撐開INTRO--></div>
    <div id="members"> 
      <div id="man1" ng-mouseover="ShowCont1='true'" ng-mouseleave="ShowCont1=''">
        <p id="name">Mark Ven</p>
        <img src="/images/man1.png" width="65%">
      </div>
      <div id="man2" ng-mouseover="ShowCont2='true'" ng-mouseleave="ShowCont2=''">
        <p id="name">Fiscol Wu</p>
        <img src="/images/man2.png" width="65%">
      </div>
      <div id="man3" ng-mouseover="ShowCont3='true'" ng-mouseleave="ShowCont3=''">
        <p id="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相伃</p>
        <img src="/images/man3.png" width="65%">
      </div>
      <div id="man4" ng-mouseover="ShowCont4='true'" ng-mouseleave="ShowCont4=''">
        <p id="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;呱呱</p>
        <img src="/images/man4.png" width="65%">
      </div>
      <div id="man5" ng-mouseover="ShowCont5='true'" ng-mouseleave="ShowCont5=''">
        <p id="name">&nbsp;&nbsp;楊蛙蛙</p>
        <img src="/images/man5.png" width="65%">
      </div>
      <div id="man6" ng-mouseover="ShowCont6='true'" ng-mouseleave="ShowCont6=''">
        <p id="name">&nbsp;&nbsp;&nbsp;Yako Su</p >
        <img src="/images/man6.png" width="65%">  
      </div>
      <div id="man7" ng-mouseover="ShowCont7='true'" ng-mouseleave="ShowCont7=''">
        <p id="name">&nbsp;暴力正昌</p>  
        <img src="/images/man7.png" width="65%">
      </div>
      <div id="man8" ng-mouseover="ShowCont8='true'" ng-mouseleave="ShowCont8=''">
        <p id="name">&nbsp;&nbsp;BigQ</p>
        <img src="/images/man8.png" width="65%">
      </div>
      
    </div>

  	</section>





  </body>
</html>	