
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>TC DEMO DAY#1 翻轉影片集</title>
		<meta name="description" content="Blueprint: Blueprint: Google Grid Gallery" />
		<meta name="keywords" content="google getting started gallery, image gallery, image grid, template, masonry" />
		<meta name="author" content="Codrops" />
		
    <link href="stylesheets/video.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
		<script src="javascripts/modernizr.custom.js"></script>
	</head>
	<body>

		<div class="container">


			<div id="grid-gallery" class="grid-gallery">
				<section class="grid-wrap">
					<ul class="grid">.

					<section class="pen">
    <div class="stage" id="grid-gallery">
      <div class="element michael"></div>
      <div class="element franklin"></div>
      <div class="element trevor"></div>
    </div>
  </section>
						<li class="grid-sizer"></li><!-- for Masonry column width -->
						<li>
							<figure>
								<img src="images/thumb/1.png" alt="img01"/ >
								<figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
								
							</figure>
						</li>
<!-- 						<li>
							<figure>
								<img src="images/thumb/2.png" alt="img02"/>
								<figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/3.png" alt="img03"/>
								<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/4.png" alt="img04"/>
								<figcaption><h3>Chillwave nihil occupy</h3><p>In post-ironic gluten-free deserunt, PBR&amp;B non pork belly cupidatat polaroid. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/5.png" alt="img05"/>
								<figcaption><h3>Kale chips lomo biodiesel</h3><p>Pariatur food truck street art consequat sustainable, et kogi beard qui paleo. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/6.png" alt="img06"/>
								<figcaption><h3>Exercitation occaecat</h3><p>Street chillwave hoodie ea gentrify.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/7.png" alt="img07"/>
								<figcaption><h3>Selfies viral four</h3><p>Raw denim duis Tonx Shoreditch labore swag artisan High Life cred, stumptown Schlitz quinoa flexitarian mollit fanny pack.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/8.png" alt="img08"/>
								<figcaption><h3>Photo booth skateboard</h3><p>Vinyl squid ex High Life. Paleo Neutra nulla master cleanse, Helvetica et enim nesciunt esse.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/9.png" alt="img09"/>
								<figcaption><h3>Ex fashion axe</h3><p>Qui nesciunt et, in chia cliche irure. Eu YOLO nihil mollit twee locavore, tempor keytar asymmetrical irure aute sriracha consequat.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/1.png" alt="img10"/>
								<figcaption><h3>Thundercats next level</h3><p>Portland nulla butcher ea XOXO, consequat Bushwick Pinterest elit twee pickled direct trade vero. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/11.png" alt="img11"/>
								<figcaption><h3>Bushwick selvage synth</h3><p>Bicycle rights flannel Shoreditch, art party laboris Bushwick sriracha authentic chambray hella umami sed distillery master cleanse.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/12.png" alt="img12"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/13.png" alt="img13"/>
								<figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/14.png" alt="img14"/>
								<figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/15.png" alt="img15"/>
								<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/16.png" alt="img16"/>
								<figcaption><h3>Chillwave nihil occupy</h3><p>In post-ironic gluten-free deserunt, PBR&amp;B non pork belly cupidatat polaroid. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/17.png" alt="img17"/>
								<figcaption><h3>Kale chips lomo biodiesel</h3><p>Pariatur food truck street art consequat sustainable, et kogi beard qui paleo. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/18.png" alt="img18"/>
								<figcaption><h3>Exercitation occaecat</h3><p>Street chillwave hoodie ea gentrify.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/19.png" alt="img19"/>
								<figcaption><h3>Selfies viral four</h3><p>Raw denim duis Tonx Shoreditch labore swag artisan High Life cred, stumptown Schlitz quinoa flexitarian mollit fanny pack.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/20.png" alt="img20"/>
								<figcaption><h3>Photo booth skateboard</h3><p>Vinyl squid ex High Life. Paleo Neutra nulla master cleanse, Helvetica et enim nesciunt esse.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/21.png" alt="img21"/>
								<figcaption><h3>Ex fashion axe</h3><p>Qui nesciunt et, in chia cliche irure. Eu YOLO nihil mollit twee locavore, tempor keytar asymmetrical irure aute sriracha consequat.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/22.png" alt="img22"/>
								<figcaption><h3>Thundercats next level</h3><p>Portland nulla butcher ea XOXO, consequat Bushwick Pinterest elit twee pickled direct trade vero. </p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/23.png" alt="img23"/>
								<figcaption><h3>Bushwick selvage synth</h3><p>Bicycle rights flannel Shoreditch, art party laboris Bushwick sriracha authentic chambray hella umami sed distillery master cleanse.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/24.png" alt="img24"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/25.png" alt="img25"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/26.png" alt="img26"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/27.png" alt="img27"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/28.png" alt="img28"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/29.png" alt="img29"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/29_1.png" alt="img29_1"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/30.png" alt="img30"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/31.png" alt="img31"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/32.png" alt="img32"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/33.png" alt="img33"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/34.png" alt="img34"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="images/thumb/35.png" alt="img35"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="" alt="img36"/>
								<figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
							</figure>
						</li>-->
					</ul> 
				</section><!-- // grid-wrap -->
				<section class="slideshow">
					<ul>
						<li>


	  <video width="100%" controls >
    <source src="/video/Introvideo.mp4" type="video/mp4">

    Your browser does not support the video tag.
  </video>
										

						<li>
							<!-- <figure alt="img02">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=820533024671990" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100001459016165">林昱宏</a><a href="https://www.facebook.com/video.php?v=820533024671990">貼文</a>。</div></div>
							
							</figure>
						</li>
						<li>
							<figure alt="img03">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374862782816922" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374862782816922">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img04">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1024418237573795" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100000168842575">李珮慈</a><a href="https://www.facebook.com/video.php?v=1024418237573795">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img05">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=873947259292854" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100000327631973">陳登俞</a><a href="https://www.facebook.com/video.php?v=873947259292854">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img06">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=767006950021522" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100001366725665">林晏履</a><a href="https://www.facebook.com/video.php?v=767006950021522">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img07">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=10205716115285070" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=1321042494">黃一臻</a><a href="https://www.facebook.com/video.php?v=10205716115285070">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img08">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=10205872220869852" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/IamMarkVen">Mark Ven</a> <a href="https://www.facebook.com/video.php?v=10205872220869852">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img09">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=873945732626340" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100000327631973">陳登俞</a><a href="https://www.facebook.com/video.php?v=873945732626340">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img10">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=873966015957645" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100000327631973">陳登俞</a><a href="https://www.facebook.com/video.php?v=873966015957645">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img11">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=873947975959449" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100000327631973">陳登俞</a><a href="https://www.facebook.com/video.php?v=873947975959449">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img12">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1030440263648480" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100000475470868">王彥昕</a><a href="https://www.facebook.com/video.php?v=1030440263648480">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img13">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=765335716888709" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100002368644799">張奕晴</a><a href="https://www.facebook.com/video.php?v=765335716888709">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img14">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=785694558176388" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100002075546802">潘育忻</a><a href="https://www.facebook.com/video.php?v=785694558176388">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img15">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374912236145310" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374912236145310">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img16">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=10202287085253256" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/may42018">陳怡嘉</a><a href="https://www.facebook.com/video.php?v=10202287085253256">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img17">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374910126145521" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374910126145521">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img18">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374905936145940" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374905936145940">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img19">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=714216235343224" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/monica.hsieh.16">謝長蓉</a><a href="https://www.facebook.com/video.php?v=714216235343224">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img20">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374898709479996" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374898709479996">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img21">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374895752813625" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374895752813625">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img22">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374894696147064" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374894696147064">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img23">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374891689480698" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374891689480698">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img24">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374887102814490" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374887102814490">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img25">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374883326148201" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374883326148201">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img26">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374877319482135" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374877319482135">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img27">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374867976149736" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374867976149736">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img28">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374865959483271" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374865959483271">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img29">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374863522816848" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374863522816848">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img29_1">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374863452816855" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374863452816855">貼文</a>。</div></div>
								
							</figure>
						</li>						
						<li>
							<figure alt="img30">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=1374859109483956" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/combinator.tc">T Combinator TC</a> <a href="https://www.facebook.com/video.php?v=1374859109483956">貼文</a>。</div></div>
								
							</figure>
						</li>
						<li>
							<figure alt="img31">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=10205872362873402" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/IamMarkVen">Mark Ven</a> <a href="https://www.facebook.com/video.php?v=10205872362873402">貼文</a>。</div></div>

								
							</figure>
						</li>
						<li>
							<figure alt="img32">
								<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=10205872226950004" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/IamMarkVen">Mark Ven</a> <a href="https://www.facebook.com/video.php?v=10205872226950004">貼文</a>。</div></div>

								
							</figure>
						</li>
						<li>
							<figure alt="img33">
<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=10205872215349714" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/IamMarkVen">Mark Ven</a> <a href="https://www.facebook.com/video.php?v=10205872215349714">貼文</a>。</div></div>

								
							</figure>
						</li>
						<li>
							<figure alt="img34">
<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=10205872209229561" data-width="600"><div class="fb-xfbml-parse-ignore">由 <a href="https://www.facebook.com/IamMarkVen">Mark Ven</a> <a href="https://www.facebook.com/video.php?v=10205872209229561">貼文</a>。</div></div>

								
							</figure>
						</li>
						<li>
							<figure alt="img35">
<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/video.php?v=872930982727815" data-width="600"><div class="fb-xfbml-parse-ignore">由<a href="https://www.facebook.com/profile.php?id=100000327631973">陳登俞</a><a href="https://www.facebook.com/video.php?v=872930982727815">貼文</a>。</div></div>

								
							</figure>
						</li>
						<li>
							<figure alt="img36">
							</figure>
						</li>								 -->				
					</ul>
					<nav>
						<span class="icon nav-prev"></span>
						<span class="icon nav-next"></span>
						<span class="icon nav-close"></span>
					</nav>
					
				</section><!-- // slideshow -->
			</div><!-- // grid-gallery -->
		</div>
		<script src="javascripts/imagesloaded.pkgd.min.js"></script>
		<script src="javascripts/masonry.pkgd.min.js"></script>
		<script src="javascripts/classie.js"></script>
		<script src="javascripts/cbpGridGallery.js"></script>
		<script>
			new CBPGridGallery( document.getElementById( 'grid-gallery' ) );



		</script>
	</body>
</html>
