<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>TC Demo Day #1</title>

	<link rel="shortcut icon" href="/images/favicon.ico"> 
    <link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
	<link href="assets/css/get-shit-done.css" rel="stylesheet" />  
    <link href="assets/css/demo.css" rel="stylesheet" /> 
    <link href="stylesheets/cooperate.css" rel="stylesheet" /> 
    <link href="stylesheets/video.css" rel="stylesheet" />


      

</head>
<body style="overflow-x:hidden">


<div class='blurred-container'>
     <a href="http://tcombinator.herokuapp.com/">
         <div class="logo-container">

            <div class="brand">
                TCombinator官網
            </div>
        </div>
    </a>
<!--     <div class="motto">
        <div>Get</div>
        <div class="border no-right-border">Sh</div><div class="border">it</div>
        <div>Done</div>
    </div> -->
  <div class="img-src" style="background-image: url('/ban.jpg')"></div>
  <div class='img-src blur' style="background-image: url('/banblur.jpg')"></div>
</div>

<div class="main" >

    <div class="container tim-container">
       
        <div class="tim-title" >
            <h1>TC DEMO DAY #1</h1>
        </div>
        
        
                <div class="tim-title" >
                    <h2>中興大學創校第一場創業party <br><small>2015/1/12 社管大樓 112教室 13:30入場<br>13:50 準時開始！</small></h2>
                </div>

                <div>
                  <h4><br>

什麼是創業party？T Combinator認為就是：<br></h4>
<h3>200人的豪華 Buffet、音樂、創業 Demo Show、創業交流！！<br>
搭配個個創意十足的創業團隊！！</h3><h4>
想要創業嘛？ <br>
想要瞭解創業嘛？<br>
來參加 TC Demo Day 這場創業 Party 吧！<br>
</h4>
                </div>




<!--                     <h2>直播測試<br><small> 2015/1/12 下午1:30分  讓我們一起翻轉吧! </small></h2>
                </div>               
<iframe width="720" height="437" src="http://www.ustream.tv/embed/19690638?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>
<br /><a href="http://www.ustream.tv" style="font-size: 12px; line-height: 20px; font-weight: normal; text-align: left;" target="_blank">Broadcast live streaming video on Ustream</a>
 -->
        

        

   

               <div class="col-md-13">
                <div class="tim-title" style="text-align:center;">
                                    <a onclick="newWeb('/videolive')" href="/videolive" target="_blank" class="text-center"><h3>觀看現場直播</h3></a>
                      <a onclick="newWeb('https://www.facebook.com/events/361805554000037/')" href="https://www.facebook.com/events/361805554000037/" target="_blank"><h3>我要參加!</h3>
                        <button  type="button" class="btn btn-default btn-tooltip" data-toggle="tooltip" data-placement="right" title="至FB粉絲專頁按'參加'" >TC DEMO DAY #1 活動資訊</button>
                      </a>
                </div>
                
    
            </div>
            <div class="clearfix"></div><br><br>

    

    <div class="container">
        <div class="row col-md-8 col-md-offset-2">
        <div class="table-responsive">
<table class="table table-hover text-center">
  <thead>
    <caption style="background-color: rgba(0,176,240,.5);">
      <h3 >TC Demo Day#1 活動流程</h3>
      <h3><small>一組15分鐘(包含報告12分鐘及3分鐘講評)</small></h3>
    </caption>
  </thead>
  <tbody style="font-size:20px;  font-family:Microsoft JhengHei, 微軟正黑體, Arial;">
  
    <tr >
      <td style="color:rgb(0,176,240);">13:30 – 13:50</td>
      <td >簽到、開放入場</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">13:50 – 14:00</td>
      <td>主持人開場</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">14:00 – 14:10</td>
      <td>活動開始 & 師長來賓致詞</td>

    </tr>
        <tr>
      <td  style="color:rgb(0,176,240);">14:10 – 14:20</td>
      <td>TC績效報告</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">14:20 – 14:35</td>
      <td>興睿育成 - EDWIN</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">14:35 – 14:50</td>
      <td>追人 Driller</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">14:50 – 15:05</td>
      <td>Itinerary</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">15:05 – 15:20</td>
      <td>帝霖股份有限公司</td>

    </tr>
    <tr>
      <td>15:20 – 15:55</td>
      <td style="color:rgb(0,176,240);">Buffet time</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">15:55 – 16:10</td>
      <td>暐承生技有限公司</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">16:10 – 16:25</td>
      <td>SCJM</td>
      
    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">16:25 – 16:40</td>
      <td>Los誌樂</td>
      
    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">16:40 – 16:55</td>
      <td>PVD+</td>
      
    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">16:55 – 17:10</td>
      <td>活動總結</td>

    </tr>
    <tr>
      <td  style="color:rgb(0,176,240);">17:10 – 17:30</td>
      <td>各組交流</td>

    </tr>
    <tr>
      <td >17:30</td>
      <td style="color:rgb(0,176,240);">賦歸</td>

    </tr>
    
  </tbody>
</table>  
</div>
</div>
</div>

     
        <!--     end tooltips -->
    <div class="container">
        <div class="row">
            <div class="col-md-13 col-xs-13 col-md-13 col-lg-13" >
            <h1>TC DEMO DAY #1系列影片</h1>
                <section class="pen ">
                  <div class="stage text-center" >
                    <div class="element michael" onclick="location.href='video2';"  target="_blank"></div>
                    <div class="element trevor" onclick="location.href='video3';"  target="_blank"></div>
                    <div class="element franklin" onclick="location.href='video1';"  target="_blank"></div>

                  </div>
               </section>
            </div>
        </div>
    </div>
<!-- <div class="video-intro" style="text-align:center;">
  <video width="100%"  controls >
    <source src="/video/Introvideo.mp4" type="video/mp4">

    Your browser does not support the video tag.
  </video>

  
</div> -->
<!-- <div id="carousel">
    <!--    
            IMPORTANT - This carousel can have a special class for a smooth transition "gsdk-transition". Since javascript cannot be overwritten, if you want to use it, you can use the bootstrap.js or bootstrap.min.js from the GSDKit or you can open your bootstrap.js file, search for "emulateTransitionEnd(600)" and change it with "emulateTransitionEnd(1200)"     
            
    
    <div id="carousel-example-generic" class="carousel slide gsdk-transition" data-ride="carousel">
      <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>
    
      <!-- Wrapper for slides 
      <div class="carousel-inner">
        <div class="item active">
          <a onclick="newWeb('https://www.facebook.com/video.php?v=1374818636154670')" 
          href="https://www.facebook.com/video.php?v=1374818636154670" target="_blank"><img src="assets/img/carousel_red.png" alt="Awesome Image">
          </a>
        </div>
        <div class="item">
          <a onclick="newWeb('https://www.facebook.com/video.php?v=872930982727815&set=o.361805554000037&type=2&theater')" href="https://www.facebook.com/video.php?v=872930982727815&set=o.361805554000037&type=2&theater" target="_blank"><img src="assets/img/carousel_blue.png" alt="Awesome Image">
          </a>
        </div>
        <div class="item">
          <a onclick="newWeb('https://www.facebook.com/video.php?v=10205872209229561&set=o.361805554000037&type=2&theater')" href="https://www.facebook.com/video.php?v=10205872209229561&set=o.361805554000037&type=2&theater" target="_blank"><img src="assets/img/carousel_green.png" alt="Awesome Image"></a>
        </div>
        <div class="item">
          <a onclick="https://www.facebook.com/video.php?v=10205872226950004&set=o.361805554000037&type=2&theater" href="https://www.facebook.com/video.php?v=10205872226950004&set=o.361805554000037&type=2&theater"><img src="assets/img/carousel_orange.png" alt="Awesome Image" target="_blank">
          </a>
        </div>
      </div>
    
      <!-- Controls 
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="fa fa-angle-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
</div> <!-- end carousel --> 

</div>

<div class="parallax-pro" style="margin-top:100px;">
    <img src="slider1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    <small>
                       覺得很棒嗎？跟我們一起翻轉吧!!
                    </small>
                </h1>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1 class="hello text-center">
                   <a href="https://www.facebook.com/events/361805554000037/361998500647409/?notif_t=plan_mall_activity">TC DEMO DAY #1</a>
                   <small>
                    <ul class="list-unstyled">
                        <li>2015/1/12</li>
                        <li>13:30入場</li>
                        <li><h3><a   style="color:gold;" href="https://www.facebook.com/events/361805554000037/361998500647409/?notif_t=plan_mall_activity">13:50準時開始</a></h3></li>
                        <li>中興大學社管大樓 112教室</li>

                    </ul>

                    </small>
           
                </h1>

            </div>
        </div>
        <div class="space-30"></div>
        <div class="row">
             <div class="col-md-12 text-center">

            </div>


        </div>
    </div>

</div>

      <div id="coop-logo" class="row">

        <div class="col-md-12 text-center">
        <h2>協辦單位</h2>
          <a href="http://www.nchu.edu.tw/index1.php" target="_blank" title="國立中興大學"><img class="clogo" src="images/LOGO/NCHUlogo.gif"></a>
          <a href="http://www.cssm.nchu.edu.tw/" target="_blank" title="中興大學管理學院"><img class="clogo" src="images/LOGO/NCHUULOGO.png"></a>
          <a href="http://web.nchu.edu.tw/~cerdr/" target="_blank" title="環保防災中心"><img class="clogo" src="images/LOGO/ERDRLOGO.png"></a>
          <a href="http://shs.ntu.edu.tw/" target="_blank" title="科學人文跨科際人才培育計畫"><img class="clogo" src="images/LOGO/SHSLOGO.png"></a>
          <a href="http://www.nchu.edu.tw/index1.php" target="_blank" title="中興大學EMBA"><img class="csmall" src="images/LOGO/EMBAlogo.png"></a>         
          <a href="https://www.facebook.com/nchusg?pnref=lhc" target="_blank" title="中興大學學生會"><img class="clogo" src="images/LOGO/STUDENT_LOGO.jpg"></a>
          <a href="http://wisdomtea.blogspot.tw/" target="_blank" title="中興大學睿茶平台"><img class="clogo" src="images/LOGO/richar-logo.png"></a>
          <a href="https://www.facebook.com/AIESECTWNCHU/" target="_blank" title="AIESEC in NCHU"><img class="cbig" src="images/LOGO/AIESEC_logo.jpg"></a>
          <a href="http://pvdplus.herokuapp.com/" target="_blank" title="PVD+"><img class="cbig" src="images/LOGO/PVDLOGO.png"></a>
          <div class="credits">
                    &copy; 2014 T Combinator 
                </div>
          </div>

        </div>
</body>

    <script src="jquery/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

	<script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
	<script src="assets/js/gsdk-checkbox.js"></script>
	<script src="assets/js/gsdk-radio.js"></script>
	<script src="assets/js/gsdk-bootstrapswitch.js"></script>
	<script src="assets/js/get-shit-done.js"></script>
	
    <script src="assets/js/custom.js"></script>

<script type="text/javascript">
         
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    $('.pick-class-label').click(function(){
        var new_class = $(this).attr('new-class');  
        var old_class = $('#display-buttons').attr('data-class');
        var display_div = $('#display-buttons');
        if(display_div.length) {
        var display_buttons = display_div.find('.btn');
        display_buttons.removeClass(old_class);
        display_buttons.addClass(new_class);
        display_div.attr('data-class', new_class);
        }
    });
    $( "#slider-range" ).slider({
		range: true,
		min: 0,
		max: 500,
		values: [ 75, 300 ],
	});
	$( "#slider-default" ).slider({
			value: 70,
			orientation: "horizontal",
			range: "min",
			animate: true
	});
	$('.carousel').carousel({
      interval: 4000
    });
      // VIDEO 
        $('.element').each(function() {
        $(this).mouseover(function() {
            $(this).addClass('active');
          $('.stage').children('.element').not('.active').addClass('inactive');
        });
        $(this).mouseleave(function() {
            $(this).removeClass('active');
            $('.stage').children('.element').not('.active').removeClass('inactive');
        });
    });
</script>


</html>