
<link rel='stylesheet' href='/stylesheets/nav.css' />



    <div id="nav">
      <div id="Logo">
          <img src="images/PVDLOGO.png" >
      </div>
  		<div id="manu">
  			
  			<a href="/about">
  				<div id="manu_box">
  					首頁
  				</div>
        	</a>
  			<a href="/artical">
  				<div id="manu_box" >
  					關於我們
  				</div>
  			</a>
  			<a href="/">
  				<div id="manu_box">
  					加入育成
  				</div>
  			</a>
        <a href="/">
          <div id="manu_box">
            加入我們
          </div>
        </a>

  		</div>
  	</div>