<!DOCTYPE html>

<html>
  <head>
    <title>翻轉開始篇</title>
        <link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
        <link rel="shortcut icon" href="/images/favicon.ico"> 
  </head>
  <body>
  <video  width="100%"  controls autoplay>
    <source src="/video/Introvideo.mp4" type="video/mp4">

    Your browser does not support the video tag.
  </video>




  </body>
</html>	